<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="sagePay" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<sagePay>
		<add key="NotificationHostName" value="mysite.com" />
		<add key="NotificationController" value="Controller" />
		<add key="NotificationAction" value="response-action" />
		<add key="SuccessAction" value="success-action" />
		<add key="SuccessController" value="success-controller" />
		<add key="FailedAction" value="failed-action" />
		<add key="FailedController" value="failed-controller" />
		<add key="VatMultiplier" value="5" />
		<add key="VendorName" value="MyVendor"/>
		<add key="Mode" value="Test" /> 
	</sagePay>
</configuration>